@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    font-family: 'Manrope', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: rgb(97,87,255);
    background: linear-gradient(90deg, rgba(97,87,255,1) 20%, rgba(238,73,253,1) 79%);
    color: #f4f4f4;
}
a {
    color: #f4f4f4;
    text-decoration: none;
  }
  
  h1 {
    text-align: center;
    margin: 1rem;
  }

